.home {
	padding-top: 48px;
	.pageTitle {
		font-color: #3F5245;
	}
	.title {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 2em;
		color: #3F5245;
	}
	.description {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		color: #8C8C8C;
	}
	.links {
		font-size: 2em;
		color: #8C8C8C;
		padding-top: 20px;
		a {
			&:link {
		        color:#8C8C8C;
		    }
			&:visited {
		        color:#8C8C8C;
		    }
			&:hover {
		        color:#3F5245;
		    }
	    }
	}
}