@media print {

  .cv {

    h1 {
      font-size: 0.6em;
    }

    .container {
      width: 100%;
      padding-bottom: 6px;
      .wrap {
        width: 96%;
      }
    }

    .bio {
      padding-bottom: 10px;
      margin-bottom: 14px;
      .name {
        margin-bottom: 2px;
        strong {
          font-size: 7.5em;
          line-height: 1.1em;
        }
        p {
          font-size: 0.8em;
          line-height: 1.4em;
          em {
            margin: 0 3px;
          }
        }
      }
      ul li {
        font-size: 0.7em;
        padding: 0 0 4px 0;
        i.fa {
          font-size: 1.1em;
          margin-top: 6px;
          width: 16px;
        }
        .tag {
          font-size: 1em;
        }
      }
      table {
        tr td {
          .avatar {
            margin-left: 40px;
            margin-top: -40px;
            width: 80px;
            height: 80px;
          }
        }
      }
    }

    section {
      h2 {
        font-size: 0.9em;
      }
    }

    .work-experience {

      .layout {

        .dates {
          font-size: 0.6em;
          line-height: 1.2em;
          width: 76px;
        }

        .content {
          p {
            font-size: 0.7em;

            &.position {
              .tag {
                margin-left: 6px;
              }
            }

            &.company {
              font-size: 0.7em;
              line-height: 1.4em;
            }

            &.description {
              font-size: 0.8em;
              padding: 4px 0 10px 0;
            }

          }
        }

      }
    }

    .education-skills {
      margin-top: 14px;
      padding-top: 10px;
      .education-awards {
        padding-right: 16px;
        ul {
          li {
            font-size: 0.7em;
            padding-bottom: 2px;
            .fa {
              margin-top: 6px;
              margin-right: 2px;
              width: 16px;
            }
            .description {
              font-size: 1.1em;
            }
          }
        }
      }
      .skills {
        padding-left: 16px;
        padding-bottom: 2px;
        ul {
          li {
            font-size: 0.7em;
            .label {
              width: 80px;
            }
            i.fa {
              font-size: 0.9em;
            }
            .description {
              line-height: 1em;
              margin: 0 0 4px 0;
            }
          }
        }
      }
    }

  }

}