// Colors
$white: #ffffff;
$black: #000000;
$accent: #3F5245;

//Color Tone
$font-color-light : #3F5245;
$font-color-medium : #3F5245;
$font-color-hard : #333;
$font-color-alt : #fff;

// Fonts
$sans-serif: Helvetica, Arial, sans-serif;
$serif: "Georgia", serif;
$monospaced: Menlo, Monaco, Consolas, "Courier New", monospace;
