// Colors
$white: #ffffff;
$black: #000000;
$accent: #4ba1bd;

// Fonts
$sans-serif: Helvetica, Arial, sans-serif;
$serif: "Georgia", serif;
$monospaced: Menlo, Monaco, Consolas, "Courier New", monospace;

//Color Tone
$font-color-light : #888;
$font-color-medium : #666;
$font-color-hard : #333;
$font-color-alt : #fff;